<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antd</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../layui-v2.3.0/layui/css/layui.css">
    <link rel="stylesheet" href="../layui-v2.3.0/layui/css/modules/layer/default/layer.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../layui-v2.3.0/layui/layui.all.js"></script>
    <script src="../layui-v2.3.0/layui/layui.js"></script>
    <script src="../layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body class="layui-anim layui-anim-upbit">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">&#xe9aa;</i></a>
</div>
<div style="margin-left: 3%;margin-right: 3%">
<table class="layui-table" lay-data="{width: 892, height:332, url:'/user/editgetAllUser', page:true, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
        <th lay-data="{field:'user_id', sort:true }">用户ID</th>
        <th lay-data="{field:'user_name' }">用户名</th>
        <th lay-data="{field:'user_info', edit: 'text' }">用户信息</th>
    </tr>
    </thead>
</table>
</div>
</body>
<script src="../layui-v2.3.0/layui/layui.all.js"></script>
<script src="../layer-v3.1.1/layer/layer.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听单元格编辑
        table.on('edit(demo)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg('[ID: '+ data.user_id +'] ' + field + ' 字段更改为：'+ value);
            var data_edit = {};
            data_edit ["user_name"] =data.user_name;
            data_edit ["user_info"] =value;
            data_edit ["user_pwd"] =data.user_pwd;
            data_edit ["user_id"] =data.user_id;
            console.log(data_edit);
            $.post("/user/updataUser",data_edit,function (msg) {
                console.log(msg);
            })
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'download'){
                layer.msg('ID：'+ data.file_name + ' 的查看操作');

            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>
