<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wangruoyao</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../layui-v2.3.0/layui/css/layui.css">
    <link rel="stylesheet" href="../layui-v2.3.0/layui/css/modules/layer/default/layer.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../layui-v2.3.0/layui/layui.all.js"></script>
    <script src="../layui-v2.3.0/layui/layui.js"></script>
    <script src="../layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container layui-bg-cyan">
    <div class="logo"><a href="./index.html">VDES基站播发管理系统</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"><cite id="user_role"> </cite></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="">个人信息</a></dd>
                <dd><a onclick="">切换帐号</a></dd>
                <dd><a href="/logout">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="userList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="actualTimeList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>实时表</cite>

                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe70b;</i>
                            <cite>其他表格</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="report">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>报表</cite>

                                </a>
                            </li >
                            <li>
                                <a _href="edittable">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>可编辑表格</cite>

                                </a>
                            </li>
                            <li>
                                <a _href="fileList">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>文件表</cite>

                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>数据播发</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="uplodefile">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>人工播发</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="dowloadFile">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>海图数据播发</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="dowloadFile">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>海上安全信息播发</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>报表管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="select">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>获取数据示例</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>MSP管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="dataselect">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>地区下拉框联动</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>统计分析</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="roletable">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限和角色表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ce;</i>
                    <cite>播发控制</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="chartline">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>拆线图</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="chartbar">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>柱状图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="baiduMap">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite> 地图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="chartpie">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>饼图</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="chartradar">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>雷达图</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite>系统管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>富文本编辑框</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite>登录注册验证示例</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="loginverify">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>js验证用户名和密码强度</cite>
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite>聊天室</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="websocket">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>web socket</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="webSocketOneToOne">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>webSocketOneToOne</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>首页</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='Echat' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<!--<div class="page-content-bg"></div>-->
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
</body>
<script>
    $(document).ready(function () {
        getLoginUser();
    });

    function getLoginUser() {
        $.get("getLoginUser",function (LoginUser) {
            console.log(LoginUser);
            var user = JSON.parse(JSON.stringify(LoginUser));
            console.log(user.user_name);
            document.getElementById("user_role").innerHTML=user.user_name;
            $("#user_role").val(user.user_name);
        })

    }
</script>
</html>
