<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理组件</title>
</head>
<body th:fragment="copy" class="layui-layout-body">
<div  class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">监测系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span id="user_role"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" >
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据表</a>
                    <dl class="layui-nav-child">
                        <dd class=""><a href="/user/getAllUserView" >用户表</a></dd>
                        <dd class="" ><a href="/user/getActualTimeList" >实时表</a></dd>
                        <dd class=""><a href="/user/report" >报表</a></dd>
                        <dd class=""><a href="/user/Echat" >动态Echat图表</a></dd>
                        <dd class=""><a href="/user/baiduMap" >高德地图</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">权限分配</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">用户权限</a></dd>
                        <dd><a href="javascript:;">动态菜单</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">Select选择框</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/user/select">分级菜单</a></dd>
                        <dd><a href="javascript:;">联动菜单</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">分页查询</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/user/pageInfo">分页1</a></dd>
                        <dd><a href="javascript:;">分页2</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">文件上传下载</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">图片上传下载</a></dd>
                        <dd><a href="javascript:;">文件上传下载</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">聊天室</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">匿名聊天室</a></dd>
                        <dd><a href="javascript:;">点对点聊天室</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
